body {
    font-family: Arial;
    background-color:black;
    width: 100%;
    color: white;
}
h1 {
    color:grey;
    font-family:verdana;
}

.maindiv {
    margin: auto;
    align:center;
    border-radius: 25px;
    background: #FFF;
    color: black;
    padding: 20px;
    width: 480px;
}

.center {
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin: auto;
    width: 75%;
    padding: 2px;
}

.fieldset {
    border: none;
}

#textValues {
    display: none;
    padding: 5px 10px;
}

#error, #yearError {
    display: none;
    color: red;
    font-size: small;
}

label {
    display: inline-block;
    width: 110px;
}

input {
    width: 120px;
    padding: 5px 10px;
}

button {
    padding: 5px 10px;
}