body {
    font-family: Arial;
    background-color:black;
    width: 100%;
}
h1 {
    color:grey;
}

.roundedCorner {
    margin: auto;
    border-radius: 25px;
    background: #FFF;
    padding: 20px;
    width: 420px;
}

.center {
    margin: auto;
    width: 75%;
    padding: 2px;
}

.fieldset {
    border: none;
}

#textValues {
    display: none;
    margin-top: 10px;
}